streamlit
pandas
langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-text-splitters
python-dotenv
openai
pypdf
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu